@{
    ViewData["Title"] = "Додати користувача";

    ViewBag.HasHeader = true;
}

@section Header
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SignUpApplications">Заявки на реєстрацію</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddUser">Додати користувача</a>
    </li>
}

<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    -------------
</div>