@{
    ViewData["Title"] = "Додати користувача";

    ViewBag.HasHeader = true;
}

@using EduGraph.Models
@model EduGraph.Models.AddUserViewModel

@section Header
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SignUpApplications">Заявки на реєстрацію</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddUser">Додати користувача</a>
    </li>
}

<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @(Model.AdditionType == SelectedAdditionType.Custom ? "active" : "")" 
               asp-action="AddUser" asp-route-type="@SelectedAdditionType.Custom">
                Вручну
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(Model.AdditionType == SelectedAdditionType.Csv ? "active" : "")" 
               asp-action="AddUser" asp-route-type="@SelectedAdditionType.Csv">
                Таблиця
            </a>
        </li>
    </ul>

    @if (Model.AdditionType == SelectedAdditionType.Custom)
    {
        <div>CUSTOM</div>
    }
    else if (Model.AdditionType == SelectedAdditionType.Csv)
    {
        <div>CSV</div>
    }
</div>